<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>subgenre</servlet-name>
        <servlet-class>com.lanzdev.servlets.OpenSubgenres</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>subgenre</servlet-name>
        <url-pattern>/subgenre
        </url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>band</servlet-name>
        <servlet-class>com.lanzdev.servlets.OpenBands</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>band</servlet-name>
        <url-pattern>/band</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>album</servlet-name>
        <servlet-class>com.lanzdev.servlets.OpenAlbums</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>album</servlet-name>
        <url-pattern>/album</url-pattern>
    </servlet-mapping>
</web-app>